<div class="container">

    <section class="layout">
        <div class="grow1">
            <div>
                <h1>
                    Drink of the <br>
                    moment
                </h1>
            </div>
            <div>
                <p style="font-size: 22px;">
                    Gin, also known as gin, is one of the most <br>
                    popular and appreciated alcoholic beverages <br>
                    worldwide, especially for its versatility in <br>
                    cocktails. Originally from Europe, this spirit has<br>
                    evolved over the centuries and comes in a wide <br>
                    range of styles and flavors.                    
            </div>
            <div>
                <h2 style="font-size: 69px; font-weight: bold;">
                    4.9
                </h2>
            </div>
            <div>
                <button class="try-button">Try now
                    <div class="arrow"></div>
                </button>
            </div>
        </div>

        <div class="grow1 center">
            <div class="circle">
                <img src="assets/imgs/Fruta-roja-centro.png" class="imgPera">
                <img src="assets/imgs/Botella-Gin-centro.png" style="margin-left: 23px;">
                <img src="assets/imgs/Palitos-cafe-centro.png" class="imgCana">
            </div>
        </div>

        <div class="grow1" style="padding-top: 5%;">
            <div class="layout2">
                <div class="grow2-1">
                    <div class="circle2">
                        <img src="assets/imgs/water-solid 1.png" alt="">
                    </div>
                </div>
                <div class="grow2-2">
                    <h2>Versatility</h2>
                    <p>
                        The range of flavors in gin is <br>
                        exceptionally wide, thanks to the <br>
                        variety of botanicals that can be <br>
                        used in its production
                    </p>
                </div>
            </div>
            <div class="layout2">
                <div class="grow2-1">
                    <div class="circle2">
                        <img src="assets/imgs/cocktail-solid 1.png" alt="">
                    </div>
                </div>
                <div class="grow2-2">
                    <h2>Distiontiv Flavor</h2>
                    <p>
                        Bittersweet and slightly<br>
                        woody flavor is the<br>
                        signature of any gin
                    </p>
                </div>
            </div>
            <div class="layout2">
                <div class="grow2-1">
                    <div class="circle2">
                        <img src="assets/imgs/Vector.png" alt="">
                    </div>
                </div>
                <div class="grow2-2">
                    <h2>Purity</h2>
                    <p>
                        This gives it a clean, pure feel,<br>
                        without the caramel or vanilla notes<br>
                        that come from barrel aging.
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>